<div class="wrapper">
  <mat-card class="example-card">
    <mat-card-header>  
      <mat-card-title>Add New Category</mat-card-title>
      <!-- <mat-card-subtitle>Keep it up</mat-card-subtitle> -->
    </mat-card-header>

    <form (ngSubmit)="onSubmitCategory()" [formGroup]="categoryForm" class="form-wrapper">
      <mat-card-content>
        <mat-form-field class="mat-field">
          <input formControlName="name" matInput placeholder="Category (optional)">
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent">Add Category</button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>