div.wrapper {
  padding: 30px;
}

div mat-card form mat-card-content mat-form-field.mat-field {
  width: 100%;
}

div mat-card form mat-card-content mat-form-field.mat-field {
  display: block;
  padding-bottom: 15px;
}

div mat-card mat-card-content mat-card-actions button {
  font-family: 'unique-sub';
}

div mat-card form mat-card-content mat-form-field input {
  font-family: 'unique-sub';
}

div mat-card mat-card-header mat-card-title, div mat-card mat-card-header mat-card-subtitle {
  font-family: 'unique-sub';
} 