<div style="padding: 20px">
    <main class="wrapper">
      <div class="title-wrap">
        <h1>Forget Password</h1>
        <hr>
      </div>
  
      <div class="subtitle">
        <h3>Forget Your Password ? Please enter your e-mail below</h3>
      </div>
  
      <form (ngSubmit)="onForgot()" [formGroup]="forgotForm" class="form-wrapper">
        <mat-form-field class="">
          <input type="text" formControlName="email" matInput placeholder="E-mail">
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="forgotForm.get('email').hasError('required') && forgotForm.get('email').touched">E-mail is required</mat-error>
          <mat-error *ngIf="forgotForm.get('email').hasError('email') && forgotForm.get('email').touched">E-mail is not valid</mat-error>
        </mat-form-field>
  
        <div class="button-wrapper">
          <button mat-raised-button class="button-login" [ngClass]="{
            'button-valid': !forgotForm.valid || sharedService.loaderVar() ? true : false
          }" [disabled]="!forgotForm.valid || sharedService.loaderVar()">
          Send Email
          </button>
          
          <mat-progress-bar color="warn" *ngIf="sharedService.loaderVar()" mode="indeterminate"></mat-progress-bar>
          <p class="acc">
            <span class="login-acc" routerLink="/auth/login">Back To Login</span>
          </p>
        </div>
      </form>
    </main>
  </div>